/*** Styles ***/

/*** Fonts ***/
@import url("https://fonts.googleapis.com/css?family=Poppins");

/*** Variables ***/
:root {
  /* light pink */
  --main-color: #fd8a8a;
  /* light yellow */
  --secondary-color: #f1f7b5;
}

/*** General ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  max-width: 100%;
  max-height: 100vh;
  margin: 0;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #333;
}

/*** Wrapper ***/
.wrapper {
  width: 100%;
  height: 100%;
}

/*** Menu ***/
.menu {
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  margin: 0;
  font-size: 1.2rem;
  background-color: var(--main-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.menu .logo {
  margin: 0 1.5rem;
}

.menu .logo span,
.menu .logo a {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.5rem;
  list-style: none;
}

nav ul {
  overflow: hidden;
}

nav .main-list a {
  display: block;
  padding: 1.1rem;
  color: #fff;
}

nav ul li a:hover {
  color: var(--main-color);
  background-color: var(--secondary-color);
}

/*** Dropdown ***/
.dropdown .dropbtn {
  position: relative;
  border: none;
  padding: 1.1rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #fd8a8a;
  cursor: pointer;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: var(--main-color);
  opacity: 0;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 2rem;
  background-color: #fd8a8a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.dropdown-content a:hover {
  color: var(--main-color);
  background-color: var(--secondary-color);
}

.dropdown:hover .dropdown-content {
  opacity: 1;
}

.dropdown:hover .dropbtn {
  color: var(--main-color);
  background-color: var(--secondary-color);
}


/*** Header ***/
.header {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  background: url(../img/main-cake.jpg) no-repeat center center/cover;
}

.brownie {
  background: url(../img/brownie.webp) no-repeat center center/cover;
}

.chocolate {
  background: url(../img/cake.jpg) no-repeat center center/cover;
}

.coffee {
  background: url(../img/coffee_cake.jpg) no-repeat center center/cover;
}

.cookie {
  background: url(../img/cookies.jpg) no-repeat center center/cover;
}

.header .title {
  margin: 0;
  font-size: 6rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  color: #fff;
}

.header .slogan {
  margin-top: -2rem;
  font-size: 1.5rem;
  color: #fff;
}

.header .btn {
  display: block;
  padding: 1rem 2rem;
  width: 15%;
  margin: 1rem 0 9rem;
  border: none;
  border-radius: 25px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--secondary-color);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header .btn:hover {
  color: var(--secondary-color);
  background-color: var(--main-color);
}

/*** Quotes ***/
.quote-1,
.quote-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  padding: 2rem 0;
  font-size: 2rem;
  color: #fff;
}

.quote-1 {
  background-color: var(--main-color);
}

.quote-2 {
  background-color: var(--secondary-color);
  color: inherit;
}

/*** About ***/
.about {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 4rem 8rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.about .subtitle {
  font-size: 2rem;
  text-transform: uppercase;
}

.about .description {
  font-size: 1.5rem;
  text-align: justify;
}

/*** Gallery ***/
.gallery {
  display: flex;
  flex-flow: row wrap;
}

.gallery img {
  width: 50%;
  height: 20%;
}

/*** Footer ***/
.footer {
  padding: 2rem 1.5rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: var(--main-color);
}
